@font-face {
  font-family: coolvetics;


}
body {
    font-family: Arial, sans-serif;
    background-color: #f6ddf4;
    color: #d4c4c4;
  }

  /* Set a different font for headings */
  h1 {
    font-family: Georgia, serif;
    color: #66111f;
  }

  /* Style paragraphs with a web-safe font */
  p {
    font-family: "Verdana", sans-serif;
    color: #5e0b9f;
  }
  